<app-toolbar></app-toolbar>
<md-content>
    <section>
        <md-subheader class="md-primary">App Stats</md-subheader>
        <md-list layout-padding>
            <md-list-item ng-repeat="stat in settings.app_stats">
                <h3>{{stat.label}}</h3>
                <h4>{{stat.value}}</h4>
            </md-list-item>
        </md-list>
    </section>
    <md-divider ></md-divider>
    <section>
        <md-subheader class="md-primary">Settings</md-subheader>
        <md-list layout-padding>
            <md-list-item>
                Show app tour on startup
                <md-switch class="md-secondary" ng-model="setting.goToAppTour" aria-label="reset tour" ng-change="resetTour(setting.goToAppTour)"></md-switch>
            </md-list-item>
        </md-list>
    </section>
</md-content>
